# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
.env/

# =========================
# ROS2
# =========================
build/
install/
log/

# colcon
*.colcon_install_layout

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# DOCKER
# =========================
*.tar
*.img

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db


# =========================
# CREDENCIALES
# =========================
*.env
*.key
*.pem

# VIM FILES
*.swp
*.swo
